<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <p th:if="${person}">
        <p>
            <span th:text="${person.getId()}"/>
            <span th:text="${person.getFullName()}"/>
            <span th:text="${person.getBirthdayYear()}"/>
        </p>

        <p>
            <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Редактировать</a>
            <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </p>
    </p>

    <a th:href="@{/people}">К списку людей</a>
</body>
</html>