<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
</head>
<body>
    <h1>Add person</h1>
    <form action="/people" method="post" th:object="${person}">
        <label for="fullName">Enter full name: </label>
        <input th:field="*{fullName}" id="fullName" type="text">
        <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
        <br>

        <label for="age">Enter birthday year: </label>
        <input th:field="*{birthdayYear}" id="age" type="text">
        <span th:if="${#fields.hasErrors('birthdayYear')}" th:errors="*{birthdayYear}"></span>
        <br>

        <input type="submit" value="Add person">
    </form>

    <a th:href="@{/people}">back</a>
</body>
</html>