<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}"/>
    <title>Book page</title>
</head>
<body>
    <h1 th:text="${book.getName()}"/>
    <p>
        <span th:text="${book.getAuthor()}"/><span th:if="${book.getPublishYear()}">,</span> <span th:text="${book.getPublishYear()}"/>
    </p>

    <hr>

    <div>
        <a th:href="@{/books/{id}/edit(id=${book.getId()})}">Редактировать</a>
    </div>

    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <button type="submit">Удалить</button>
    </form>

    <hr>

    <a href="/books">К списку книг</a>
</body>
</html>